#alert-mask {
    background: black !important;
}

#cf-alert {
    background: transparent;
    color: white;
    border-radius: 0.2rem;
    max-height: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#alert-body > input {
    display: block;
    background-image: linear-gradient(#e2bc57, #8c5d02);
    border: none;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    padding: 0.4rem;
}

#alert-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    user-select: unset;
}

#cf-alert {
    transform: translateY(17.5%);
}

#alert-footer {
    text-align: right;
}

#alert-header {
    display: none;
}

#alert-ok {
    padding: 0.5rem;
    min-width: 10ch;
    border-radius: 0.2rem;
}

#alert-cancel {
    color: white;
    background-color: #978e0f;
    border: none;
    padding: 0.5rem;
    min-width: 10ch;
    border-radius: 0.2rem;
}

#alert-cancel,
#alert-ok {
    cursor: pointer;
    margin: 0.2rem;
}

@media not all and (hover: none) {
    #alert-cancel:hover,
    #alert-ok:hover {
        filter: brightness(1.2);
    }
}

@media only screen and (max-aspect-ratio: 1/1) {
    #cf-alert {
        width: 70%;
    }
}

@media only screen and (max-aspect-ratio: 9/16) {
    #cf-alert {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    #alert-body {
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    #alert-mask {
        background: url("../assets/img/question-bg.jpg") no-repeat center center fixed !important;
        background-size: contain !important;
    }
}

#alert-image {
    object-fit: contain;
    max-width: 100%;
    height: 10rem;
    margin: 1rem;
}
